header{
    display: flex;
    background-color: #17abb3;
    color: #ffffff;
    height: 250px;
}

/* Colonne Gauche */

header .Gauche{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 20px;
}

header .Profil{
    display: grid;
    justify-content: center;
    height: 150px;
    width: 150px;
    border: 5px solid;
    border-color: #ffffff;
    border-radius: 150px;
    cursor: zoom-in;
}


/* Colonne Droite */

header .Droite{
    width: 70%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header a{
    text-decoration: none;
    color: #ffffff;
}

header .Droite img{
    padding-right: 5px;
    width: 25px;
    height: 25px;
}

address{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.Adresse{
    font-style: normal;
    display: flex;
    align-items: center;
    width: 150px;
    height: 25px;
}
