header{
    display: flex;
    background-color: #17abb3;
    color: #ffffff;
}

/* Colonne Gauche */

header .Gauche{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 20px;
}

header .Profil{
    display: grid;
    justify-content: center;
    height: 150px;
    width: 150px;
    border: 5px solid;
    border-color: #ffffff;
    border-radius: 150px;
    cursor: zoom-in;
}

/* Colonne Droite */

header .Droite{
    width: 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header a{
    text-decoration: none;
    color: #ffffff;
}

header .Droite img{
    width: 25px;
    height: 25px;
}

