main .Gauche{
    width: 30%;
    background-color: #e3e3e3;
    padding: 20px 40px 20px 40px;
}

main .Gauche img{
    width: 20px;
    height: 20px;
    
}

main p{
    color: #333333;
}

.Compétences{
    display: flex;
    justify-content: space-between;
}

#Compétences p{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


ul{
    list-style-type: square;
    color: #17abb3;
    padding-left: 10px;
}

